.container{
    width: 1200px;
    margin: 0 auto;
}

.riga{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.col{
    background-color: white;
}